
@use "../helper/variables" as * ;
@use "../helper/mixins" as * ;

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.menu {
    @include gradient ;
    li {
            padding: 0 0.7rem;
            a {
                color: $white;
                padding: 0 0.7rem;
                text-transform: capitalize;
                font-weight: 600;
            }
            &:hover {
                color: $white;
            }
        }
}
