
@use "../helper/variables" as * ;
@use "../helper/mixins" as * ;

.services {
    position: relative;
    padding: 1rem 0;

    h1 {
        font-size: 60px;
        margin: 0;
        padding: 1rem;
    }

    &_content {
        padding: 1rem;
        margin-top: 0;

        p {
            font-size: 0.9rem;
        }

        .icon {
            font-size: 2.3rem;
            color: $primary;
            margin-bottom: 0.5rem;
        }
    }
    &__pic {
        max-width: 100%;
    }
    @include TypeMedia(small) {
        h1 {
            font-size: 40px;
        }
    }
}
